@import"nav.css";

*{
    margin: 0;
}

div.artes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 100vh;
}

div > img{
    display: grid;
    z-index: 2;
    width: 80%;
    border-radius: 15px;
    place-items: center;
    margin: 10%; 
}

.fundo{
    background-image: url(arte.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.escurecer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}