@import "nav.css";

body{
    margin: 0%;
    background-color: black;
    display: grid;
    place-items: center;
}

img.fundo{
    width: 100%;
    z-index: 1;
}

p{
    color: white;
    font-size: xx-large;
    display: grid;
}

p2{
    font-size: x-large;
    color: white;
    width: 75%;
}

img.assassinos,
img.templários{
    width: 50%;
    border-radius: 20px;
}

.credo{
    width: 75%;
    font-weight: bold;
}

img.peça{
    width: 25%; 
    height: 100%;
    border-radius: 20px
}